{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Blog ISA</h1>
        </div>
    </div>
    <div class="container">
        {{ title }}
        {{ content }}
    </div>

{% endblock %}